<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <title>Title</title>
</head>
<body>
    <h1 align="center">Search Notes by Creation Date</h1>
    <form th:action="@{/get-notes-creation-date}" th:object="${queryObject}" method="get">
        <table align="center" border="0" cellpadding="4" cellspacing="1">
            <tr>
                <td><label th:text="#{msg.DateFrom}"/></td>
                <td>
                    <input type="datetime-local" th:field="*{dateFrom}" />
                </td>
            </tr>
            <tr>
                <td><label th:text="#{msg.DateTo}"/></td>
                <td>
                    <input type="datetime-local" th:field="*{dateTo}" />
                </td>
            </tr>
            <tr>
                <td colspan="2" align="center" bgcolor="#ffffff"><input type="submit" value="Submit"/></td>
            </tr>
        </table>
    </form>
    <div>
        <p>
            <a th:href="@{/home}" th:text="#{msg.Home}"/>
        </p>
    </div>
</body>
</html>